<section style="padding-top: 92px; min-height: calc(-112px + 100vh);"
  class=" d-flex justify-content-center align-items-center">
  <div class=" container text-center">
    <div class="parent">
      <div class="image">
        <img width="250" class="mb-3" src=" {{imgsrc}} " alt="" />
      </div>
      <div class="content">
        <h2>start framework</h2>
      </div>
      <app-star></app-star>
      <div class="skills">
        <p class="lead pt-2 text-white">Graphic Artist - Web Designer - Illustrator</p>
      </div>
    </div>
  </div>
</section>